<div class="card">
    <div class="card-header">
        <h2>Classification results
        <small style="color: green;">Total matches: <b>
            {{ datafusion.classificationinfo.total_matches }}
        </b> ({{ ((datafusion.classificationinfo.total_matches) / (datafusion.classificationinfo.total_data) * 100) | number : 2}}%)</small>
        <small style="color: orange;">Total potential matches: <b>
            {{ datafusion.classificationinfo.total_potential_matches }}
        </b> ({{ ((datafusion.classificationinfo.total_potential_matches) / (datafusion.classificationinfo.total_data) * 100) | number : 2}}%)</small>
        <small style="color: red;">Total non-matches: <b>
            {{ datafusion.classificationinfo.total_non_matches }}
        </b> ({{ ((datafusion.classificationinfo.total_non_matches) / (datafusion.classificationinfo.total_data) * 100) | number : 2}}%)</small>
            </h2>
    </div>

    <div class="card-body" style="overflow-y:scroll; max-height:500px;">
        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th ng-if="!scope.segmentationskipped" colspan="{{ col.fields.length }}"
                        ng-repeat="col in datafusion.previewdataschema.schema">
                        {{ col.name }}
                    </th>
                    <th ng-if="scope.segmentationskipped"
                        ng-repeat="col in datafusion.previewdataschema.schema">
                        {{ col.name }}
                    </th>
                </tr>
                <tr>
                    <th ng-repeat="seg in datafusion.previewdataschema.segments track by $index">
                        {{ seg }}
                    </th>
                </tr>

                </thead>
                <tbody ng-repeat="matchresult in datafusion.classificationinfo['results']">
                <tr ng-class="matchresult.match_type == 1 ? 'success' : matchresult.match_type == 0 ?  'danger' : 'warning'">
                    <td ng-repeat="val in matchresult.record1 track by $index">
                        {{ val }}
                    </td>
                </tr>
                <tr ng-class="matchresult.match_type == 1 ? 'success' : matchresult.match_type == 0 ?  'danger' : 'warning'">
                    <td ng-repeat="val in matchresult.record2 track by $index">
                        {{ val }}
                    </td>
                </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>
