<style>
    .colorstan0 {
        color: green;
    }

    .colorstan1 {
        color: #f10c0d;
    }
</style>

<div class="card">
    <div class="card-header">
        <h2>Fused data
            <small></small>
        </h2>
    </div>

    <div class="card-body" style="overflow-y:scroll; max-height:250px;">
        <div class="table-responsive">
            <table class="table table-striped table-vmiddle">
                <thead>
                <tr>
                    <th ng-repeat="col in export.previewdata[0].columns">{{ col.custom_name || col.name }}</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="row in export.previewdata">
                    <td ng-repeat="col in row.columns">
                        <span ng-repeat="token in col.fields track by $index" ng-class="token.output_field ? 'colorstan' + ($index % 3) : ''">
                            <span>{{ token.value }}
                            <sup>
                                {{ token.output_field }}
                            </sup></span>
                        </span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>