<style>
    .colorseg0 {
        color: darkorange;
    }

    .colorseg1 {
        color: #0076d5;
    }

    .striked {
        text-decoration: line-through;
    }

</style>
<div class="card" style="overflow-y:scroll; max-height:250px;" ng-repeat="source in ['source1', 'source2']">
    <div class="card-header">
        <h2>Segmented data
            <small>{{ source }}</small>
        </h2>
    </div>

    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-striped table-vmiddle">
                <thead>
                <tr>
                    <th ng-repeat="s in schemamatching.previewdataschema[source]">{{ s.colname }}
                        <span ng-if="s.segments.length > 0">({{ s.segments.join(', ') }})</span>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="row in schemamatching.previewdata[source]">
                    <td ng-repeat="s in schemamatching.previewdataschema[source]">
                        <span ng-repeat="token in row[s.colname] track by $index" ng-class="token.output_field == null ?
                         'striked' : 'colorseg' + ($index % 2)">
                            <span>{{ token.value }}
                            <sup ng-if="token.output_field != null">
                                {{ token.output_field }}
                            </sup></span>
                        </span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>