<style>
    .colorstan0 {
        color: green;
    }

    .colorstan1 {
        color: #f10c0d;
    }
    .colorstan2 {
        color: #6f4cf1;
    }
</style>

<div class="card"  ng-repeat="source in ['source1', 'source2'] track by $index">
    <div class="card-header">
        <h2>Standardised and tagged data
            <small>Source {{ $index + 1 }}</small>
        </h2>
    </div>

    <div class="card-body" style="overflow-y:scroll; max-height:250px;">
        <div class="table-responsive">
            <table class="table table-striped table-vmiddle">
                <thead>
                <tr>
                    <th ng-repeat="s in segmentation.previewdataschema[source]">{{ s }}</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="row in segmentation.previewdata[source]['results']">
                    <td ng-repeat="s in segmentation.previewdataschema[source]">
                        <span ng-repeat="token in row[s] track by $index" ng-class="token.tags.length > 0 ? 'colorstan' + ($index % 3) : ''">
                            <span>{{ token.value }}<sup ng-repeat="tag in token.tags">{{ tag }} </sup> </span>
                        </span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>