<div class="row">
    <div class="col-sm-12">
        <p>Data is often full of unnecessary whitespaces, unknown characters and may come in various capitalization forms.
            Here you may apply multiple data cleansing modules for each column to get rid of that dirt that may cause your
            data integration process to leave out true matches.</p>
    </div>
</div>
<div class="row">
    <div class="col-sm-6" ng-repeat="source in sources">
        <div ng-repeat="o in datacleansing.moduleSelections[source] track by $index">
            <div class="row">
                <div class="col-sm-4">
                    <p class="c-black f-500 m-b-20">Column</p>
                    <div class="select">
                        <select class="form-control" ng-model="o.columnSelected" ng-options="c for c in datacleansing.columns[source]" ng-change="datacleansing.updateReturnValue()">
                    </select>
                    </div>

                </div>
                <div class="col-sm-7">
                    <p class="c-black f-500 m-b-20">Module</p>
                    <div class="select">
                        <select class="form-control" ng-model="o.moduleSelected" ng-options="m as m.name for m in o" ng-change="datacleansing.updateReturnValue()">
                    </select>
                    </div>
                </div>

                <div class="col-sm-1">
                    <ul class="actions">
                        <li dropdown="" class="dropdown action-show">
                            <a href="" ng-click="datacleansing.removeOption($index, source)" aria-haspopup="true" aria-expanded="false">
                                <i class="zmdi zmdi-close"></i>
                            </a>

                        </li>
                    </ul>
                </div>
            </div>
            <br>
            <div class="row" ng-repeat="(k, c) in o.moduleSelected.config">
                <div class="col-sm-12">
                    <dynamic-input config='c' return-value='c.returnValue' ng-init="c.returnValue = {}" config-id='{{ k }}' ></dynamic-input>
                </div>
            </div>

            <hr>
        </div>
        <button ng-click='datacleansing.addOption(source)' class="btn btn-primary btn-icon waves-effect waves-circle" style="float: right"><i class="zmdi zmdi-plus"></i></button>

    </div>
</div>