<div class="row">
    <div class="col-sm-12">
        <p>Your data is finally integrated! Now choose below where you want to store the results.</p>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <p class="c-black f-500 m-b-20">Select an export module</p>

        <div class="form-group">
            <div class="fg-line">
                <div class="select">
                    <select class="form-control" ng-model="export.selectedModule"
                            ng-options="m as m.name for m in export.modules">
                    </select>
                </div>
            </div>
        </div>


        <div>
            <dynamic-input ng-repeat="(k, c) in export.selectedModule['config']" return-value='export.returnValue.selected_module.config' config-id='{{ k }}' config='c'></dynamic-input>
        </div>

    </div>

</div>