<div class="row">
    <div class="col-sm-6" ng-repeat='s in sources track by $index'>
        <p class="c-black f-500 m-b-20">Select source {{$index + 1}}</p>

        <div class="form-group">
            <div class="fg-line">
                <div class="select">
                    <select chosen class="w-100" ng-model="extraction.selectedModules[s]"
                    ng-options="m as m.name for m in extraction.modules[s]">
                        <option value=""></option>
                    </select>
                </div>
            </div>
        </div>


        <div> 
            <dynamic-input ng-repeat="(k, c) in extraction.selectedModules[s]['config']" config='c'></dynamic-input>
        </div>

    </div>

</div>