<div class="row">
    <div class="col-sm-12">
        <p>Indexing reduces the amount of comparisons to be made on the next (comparison) step by leaving out pairs that are not likely to be real matches.
            This can be done for example by grouping records on a key, and comparing only those records within the same group.
            Set up below how to index the records.</p>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <p class="c-black f-500 m-b-20">Select an indexing module</p>

        <div class="form-group">
            <div class="fg-line">
                <div class="select">
                    <select class="form-control" ng-model="indexing.selectedModule"

                            ng-options="m as m.name for m in indexing.modules">
                    </select>
                </div>
            </div>
        </div>


        <div>
            <dynamic-input ng-repeat="(k, c) in indexing.selectedModule['config']" return-value='indexing.returnValue.selected_module.config' config-id='{{ k }}' config='c'></dynamic-input>
        </div>

    </div>

</div>