<div class="row">
    <div class="col-sm-12">
        <p>Schema matching consists of determining which parts of the schema of each source represent the same data on the other schema.
            This matching is then used to compare the data on the matching parts of the schemas to determine matching records.</p>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <p class="c-black f-500 m-b-20">Select schema matching module</p>

        <div class="form-group">
            <div class="fg-line">
                <div class="select">
                    <select class="form-control" ng-model="schemamatching.selectedModule" 
                     
                    ng-options="m as m.name for m in schemamatching.modules">
                    </select>
                </div>
            </div>
        </div>


        <div> 
            <dynamic-input ng-repeat="(k, c) in schemamatching.selectedModule['config']" return-value='schemamatching.returnValue.selected_module.config' config-id='{{ k }}' config='c'></dynamic-input>
        </div>

    </div>

</div>