<div class="row">
    <div class="col-sm-12">
        <p>Segmentation tries to split each field on its components. For example, an address field may be split on
            street number, street, city, etc.
            This smaller segments help you compare with smaller granularity, thus getting better results, and some
            schema matching algorithms may even take advantage of them.</p>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="form-group">
            <div class="fg-line">
                <div>
                    <div class="toggle-switch" data-ts-color="{{ segmentation.toggleskip.config.color }}">
                        <label class="ts-label">{{ segmentation.toggleskip.config.label }}</label>
                        <input type="checkbox" hidden="hidden" ng-model="segmentation.returnValue.skipstep">
                        <label class="ts-helper" ng-click="segmentation.skiptoggler()"></label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-hide="segmentation.returnValue.skipstep" class="row">

    <div class="col-sm-6" ng-repeat="source in sources">
        <div ng-repeat="o in segmentation.moduleSelections[source] track by $index">
            <div class="row">
                <div class="col-sm-4">
                    <p class="c-black f-500 m-b-20">Column</p>
                    <div>
                        {{ o.column }}

                    </div>
                </div>
                <div class="col-sm-7">
                    <p class="c-black f-500 m-b-20">Module</p>
                    <div class="select">
                        <select class="form-control" ng-model="o.moduleSelected"
                                ng-options="m as m.name for m in o.modules"
                                ng-change="segmentation.updateReturnValue()">
                        </select>
                    </div>
                </div>
            </div>

            <div class="row" ng-repeat="(k, c) in o.moduleSelected.config">
                <div class="col-sm-12">
                    <dynamic-input config='c' return-value='c.returnValue' ng-init="c.returnValue = {}"
                                   config-id='{{ k }}'></dynamic-input>
                </div>
            </div>
            <hr>

        </div>

    </div>
</div>