<div class="row">
    <div class="col-sm-12">
        <p class="c-black f-500 m-b-20">Select a segmentation module</p>

        <div class="form-group">
            <div class="fg-line">
                <div class="select">
                    <select class="form-control" ng-model="segmentation.selectedModule" 
                     
                    ng-options="m as m.name for m in segmentation.modules">
                    </select>
                </div>
            </div>
        </div>


        <div> 
            <dynamic-input ng-repeat="(k, c) in segmentation.selectedModule['config']" config='c'></dynamic-input>
        </div>

    </div>

</div>