<div class="row">
    <div class="col-sm-12">
        <p>Standardise and tag your data, it is nice.</p>
    </div>
</div>
<div class="row">
    <div class="col-sm-6" ng-repeat="source in sources">
        <div ng-repeat="o in standardisationtagging.moduleSelections[source] track by $index">
            <div class="row">
                <div class="col-sm-4">
                    <p class="c-black f-500 m-b-20">Column</p>
                    <div >
                        {{ o.column }}

                    </div>
                </div>
                <div class="col-sm-7">
                    <p class="c-black f-500 m-b-20">Module</p>
                    <div class="select">
                        <select class="form-control" ng-model="o.moduleSelected" ng-options="m as m.name for m in o.modules" ng-change="standardisationtagging.updateReturnValue()">
                    </select>
                    </div>
                </div>
            </div>

            <div class="row" ng-repeat="(k, c) in o.moduleSelected.config">
                <div class="col-sm-12">
                    <dynamic-input config='c' return-value='c.returnValue' ng-init="c.returnValue = {}" config-id='{{ k }}' ></dynamic-input>
                </div>
            </div>
            <hr>

        </div>

    </div>
</div>